%h1.ui.dividing.header 自己PR文を入力してください
%p 金沢工業大学に関する情報を抽出して、自動で注釈を追加します。
= form_for @activity, url: user_activity_path, html: {class: 'ui form'} do |f|
  .field
    = f.text_area :text, style: 'height: 300px'
  = f.submit '保存する', class: 'ui right floated large green button'
